body {
    margin: 0;
    font-family: 'segoe UI', sans-serif;
    background-color: #f4f6f9 ;
    color: #333;
}

header {
    background-color: #004d66;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    text-decoration: underline;
    color: #cce0e5;
}

.intro {
    padding: 80px 20px;
    text-align: center;
    background-color: #e6f0f3;
}

.intro h1 {
    font-size: 36px;
    color: #004d66;
}

.page ul {
    text-align: center;
    color: #333;
}

form {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #004d66;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004d66;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #004d66;
    color: white;
    margin-top: 50px;
}


header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}


.offer-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,(200px, 1fr));
    gap: 20px;
}

.offer-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.offer-card h2 {
    margin-top: 0;
    color: #004AAD;
    font-size: 1.3rem;
}

.offer p {
    margin: 10px 0;
    font-size: 0.95rem;
}

.offer-card .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #F9A825;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.offer-card.btn:hover {
    background-color: #e8a100;
}

footer {
    text-align: center;
    color: #777;
    margin: 40px 0 20px;
    font-size: 0.9rem;
}
form {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500px;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea,
select {
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #F9A825;
    color: black;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e8a100;
}

footer {
    text-align: center;
    color: #777;
    margin: 40px 0 20px;
    font-size: 0.9rem;
}

.welcome {
    text-align: center;
    background-color: #f0f8ff;
    padding: 40px;
    border-radius: 12px;
    margin: 30px auto;
    max-width: 800px;
    box-shadow: 0 3px rgba(0,0,0,0.1);
}

.welcome .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.highlighs {
    background-color: #ffffff;
    padding: 30px;
    margin: 30px auto;
    max-width: 800px;
    border-left: 5px solid #0077cc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.quote {
    text-align: center;
    font-style: italic;
    margin: 50px auto 20px;
    color: #555;
}

#navbar-cache {
    display: none;
    flex-direction: row;
    align-items: start;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
}

#navbar-content {
    background: white;
    padding: 10px 20px;
    height: 100px;
    width: 300px;
}

#navbar-clicable {
    background: transparent;
    display: block;
    width: 100px;
    height: 100px;
}

#navbar-cache .lien a {
    list-style: none;
    margin: 5px;
    background: white;
    padding: 10px;
    border-radius: 35px;
}

#navbar-cache #liens {
    display: flex;
    flex-direction: column;
}

#btn-menu {
    display: none;
}

@media (max-whidth: 800px) {
    #navbar-cache {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 1000;
    }
}

body {
    overflow-x: hidden;
}

#btn-menu {
    display: block;
    background-image: url(./img.png.jpg);
    color: wheat;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

